* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swal2-shown {
    font-size: 11px;
}

.activeBTN {
    background: lightseagreen;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
}

.header, .main, .nav {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page__title {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
}

.page__title h2 {
    margin-bottom: 10px;
}

/* MENU burger */

.burger__btn {
  display: none;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  position: relative;
  bottom: 4px;
  cursor: pointer;
 
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:60px;
    left:0;
    transform: translateX(-130%);
    transition: all .2s;
    animation: move 5s infinite;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu.active {
    transform: translateX(0);
    transition: all .2s;
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    width: 30%;
    height: 100%;
    background: #C5C5C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
}

.menu__header {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 3px solid black;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    list-style: none;
    text-align: center;
    transition: all .4s !important;
}

.menu ul li {
    display: flex;
    align-items: center;
}



.header {
    display: flex;
    padding: 30px 0;
    text-align: center;
    justify-content: center;
}

.header__count {
    position: relative;
    right: 18px;
    bottom: 10px;
    font-weight: bold;
}

.btn__basket {
    border: none;
    background-color: white;
    margin-right: 20px;
    position: relative;
    bottom: 10px;
}

/* Navigtion */


.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
   
}


.nav {
    margin-left: 150px;
}

.nav li a, .nav li, .menu li a, menu li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.nav li img {
    position: relative;
    left: 5px;
    color: black;
}

.dropdown_content {
    cursor: pointer;
    visibility: hidden;
    flex-direction: column;
    text-align: left;
    gap: 5px !important;
    position: absolute;
    /* background-color: #F8F9FA; */
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 8px 0 8px 0;
}

.dropdown_li:hover .dropdown_content {
    visibility: visible;
}

.nav_li a {
    border-bottom: 2px solid white;
}

.menu li a {
    border-bottom: 2px solid #C5C5C5 ;
}

.nav li a:hover, .menu li a:hover {
    border-bottom: 2px solid black;
}

.container {
    display: flex;
}

.container__left .container__right {
    width: 50%;
}

.container__left {
    display: flex;
    flex-direction: column;
}

.container__right {
    display: flex;
   
}

.btn {
    background: #FFFFFF;
    border: none;
    box-shadow:0 14px 28px rgba(60, 60, 60, 0.25), 0 10px 10px rgba(74, 73, 73, 0.22);
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn:hover {
    background: rgba(99, 98, 98, 0.22);
    box-shadow:10px 0px 32px rgba(60, 60, 60, 0.25), 10px 0px 15px rgba(74, 73, 73, 0.22);
}

.btn p {
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.btn h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.btn__watch a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn__left p, .btn__left h4 {
    text-align: right;
    padding-right: 40px;
    /* white-space: nowrap; */
}

.btn__left {
    padding-left: 40px;
}

.btn__phones p {
    margin-top: 40px;
}

.btn__tablet {
    padding: 0;
}

.btn__tablet h4 {
    margin-bottom: 40px;
}

.btn__left:first-child {
    margin-bottom: 70px;
}

.btn__right {
    margin-left: 16px;
    width: 312px;
}

.container__popular {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    
}

.btn__popular {
    border: none;
    background: none;
    padding: 10px;
    transition: 0.3s all ease;
}

.btn__popular a {
    text-decoration: none;
    color: black;
}

.btn__popular:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0);
    border-radius: 20px;
}

.btn__popular img {
    margin-bottom: 35px;
}

.btn__popular h4 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 10px;
}

.btn__popular p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 25px;
}

.btn__popular span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.container__best {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.best__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F9FA;
    border-radius: 16px;
    padding: 40px 30px;
    transition: 0.3s all ease;
    max-width: 350px;
}

.best__item:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0);
    color: rgb(72, 72, 72)
}

.best__item h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.best__item p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}

.btn__explore {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    padding: 14px 63px;
    border: 1px solid #000000;
    border-radius: 200px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn__explore:hover {
    background: black;
    box-shadow:10px 0px 32px rgba(60, 60, 60, 0.25), 10px 0px 15px rgba(74, 73, 73, 0.22);
    border: 1px solid rgba(99, 98, 98, 0.22);
    color: white;
}

.container__ideas {
    display: flex;
    gap: 35px;
}

.container__ideas_text span {
    display: inline-block;
    margin-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.container__ideas_text span:first-child {
    margin-top: 15px;
}

.btn__seeall {
    margin: 0 auto;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    background: none;
    border: none;
    margin-top: 50px;
    padding-right: 5px;
    
}

.btn__seeall img {
   padding-left: 5px; 
   position: relative;
   top: -2px;
   
}

.input__search {
    padding: 20px 60px;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    width: 650px;
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-image: url('../images/find.png');
    background-repeat: no-repeat; 
    background-position-x: 15px;
    background-position-y: 15px;
   
}

.container__btn_fast {
    margin-top: 20px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 100%;
}

.btn_fast {
    width: 17%;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    padding: 12px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.3s all ease;
}

.btn_fast:hover {
    background: #F8F9FA;
    box-shadow: 0 14px 28px  rgba(60, 60, 60, 0.25), 0 10px 10px  rgba(60, 60, 60, 0.25);
}

/* Sing up */

.container__sing_up {
    background: #DCE5E2;
    border-radius: 16px;
    width: 935px;
    text-align: center;
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0 45px 0;
    margin-bottom: 40px;
}

.container__sing_up .page__title {
    margin-top: 0;
    margin-bottom: 0;
}

.container__sing_up img {
    margin-bottom: 15px;
}


.sing__up_form {
    margin-bottom: 30px;
}
.input__singup, .btn__singup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #000000; 
}

.input__singup {
    background: #DCE5E2;
    border: 1px solid #000000;
    padding: 16px 155px 16px 32px;
    border-radius: 54px 0px 0px 54px;
    /* border: 1px solid #000000;  */
}

.btn__singup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    color: #F8F9FA;
    padding: 16px 33px 16px 32px;
    position: relative;
    left: -2px;
    transition: 0.3s all ease;
}

.btn__singup:hover {
    color: black;
    background: white;
    border: 1px solid white;
}

/* FOOTER */

.footer {
    background: #F8F9FA;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 45px 165px 20px 165px;
    border-top: 2px solid #DCE5E2;
    border-bottom: 2px solid #DCE5E2;
}

.footer p {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 300px;
}

.footer__item li {
    margin-bottom: 15px;
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: black;
}

.footer__item a:hover {
    border-bottom: 2px solid black;
}

.footer__item h3 {
    margin-bottom: 20px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

/* Support */

.page__support h1{
    background-image: url('https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/psp-hero-banner-homepage-welcome.image.large_2x.jpg');
    width: 1800px;
    text-align: center;
    color: #F8F9FA;
    min-width:735px; 
    width: 100%;  
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
}

.container__support {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.support__text {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
   
}

.support__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support__item img {
    width: 68px;
    height: 84px;
    margin-bottom: 20px;
}

/* Contacts */

.container__contacts {
    display: flex;
}

.container__contacts:nth-child(odd) {
    border-bottom: 2px solid lightslategrey;
}

.contacts__item {
    text-align: center;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    width: 50%;
    text-align: left;
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
    
}

.map__google_container {
    margin-bottom: 35px;
}

/* Page about */

.page__about {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://www.apple.com/v/business/o/images/overview/productivity_hero__bg8vwq9k7xea_large_2x.jpg');
    width: 1800px;
    text-align: left;
    color: #F8F9FA;
    min-width:900px; 
    width: 100%;  
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-left: 200px;
    margin: 25px 0 50px 0;
    
}

.page__about h1, .page__about p {
    width: 50%;
} 

.page__about h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

/* Slider*/

.container__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.slider {
    width: 100%;
    position: relative;
}

.slider__wrapper {
    border-radius: 20px;
    overflow: hidden;
}

.slider__list {
    display: flex;
    transition: transform 1s ease-in-out;
   
}

.slider__item {
    flex: none;
    width: 100%;
    min-height: 500px;
}

.slider__item > img, .slider__item > .slider__item_post {
    width: 100%;
    min-height: 100%;
}

.slider__btn {
    border-radius: 50%;
    border: 0;
    background: none;
    width: 50px;
    height: 50px;
    font-family: monospace;
    font-size: 45px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.slider__btn.left {
    left: 40px;
}

.slider__btn.right {
    right: -10px;
}

.slider__btn:hover {
    font-size: 49px;
    /* box-shadow: 0 0 10px #999; */
}

.slider__item_post {
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 10em;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    background-color: #DCE5E2;
}

.slider_phone {
    background-image: url('../images/slider.png');
}

.slider_watch {
    background-image: url('../images/watches.png');
}

.slider_laptop {
    background-image: url('../images/tablet.png');
}

.btn__post {
    margin-top: 40px;
    width: 20%;
}

.slider__indicators {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    margin-left: 30%;
  }

  .slider__indicators div {
   width: 150px;
   height: 3px;
    background: #000000;
  }

  .slider__indicators li {
    list-style: none;
  }

  .slider__indicators .indicator__active {
   height: 6px;
  
}

/*Tooltip in js*/

.tooltipElement {
    visibility: hidden;
    position: absolute; 
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: 0.3s all ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tooltipElement::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
} 

/* Alert */

.alert {
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 50%;
    width: 250px;
}

/* All products */

.added button {
    background: lightseagreen;
    border: 2px solid lightseagreen;
}

.container__all_products {
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
    /* max-height:500px; */
}

.container__all_products .best__item {
   gap: 0;
   
}

.container__all_products h4 {
    margin-top: 10px;
}

.catalog__sort {
    border: none;
    background: none;
    margin-bottom: 10px;
}

.item__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.item__bottom span {
    font-size: 30px;
}

 .item__bottom:hover span {
    color: orange;
    
}

.container__all_products img {
    max-width: 100%;
    max-height: 150px;
}





/* Product */

.product__description h4 {
    font-size: 30px;
    line-height: 32px;
}

.product__content {
    display: flex;
    gap: 30px;
    
}

.product__description .add_cart {
    width: 150px;
    height: auto;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ff9600;
    color: rgb(76, 75, 75);
    cursor: pointer;
    border-radius: 9px;
    background: #ff9600;
    margin-left: 300px;
}

.product__description .add_cart:hover {
    color: #F8F9FA;
}

.product__description .price {
    color: #ff9600;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.product__description .description {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.product__container {
    margin-bottom: 40px;
}

.product__image img {
    margin-right: 30px;
    max-width: 700px;
}

.btn_back {
    border: none;
    background: none;
    text-align: center;
}

.btn_back a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.btn_back a:hover {
    text-decoration: underline;
}

/* Basket */

.cart__item {
    display: flex;
    justify-content: baseline;
    gap: 30px;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.cart__item a {
    text-decoration: none;
    color: black;
}

.cart__item .btn__remove {
    margin-left: auto;
}

.cart__item input {
height: 30px;
font-size: 18px;
border-radius: 5px;
text-align: center;
cursor: pointer;
}

.cart__item input:hover{
   box-shadow:0 0 4px rgba(0,0,0,0.5) 
}

.cart__item .btn__remove {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
}

.cart__item .btn__remove:hover{
    cursor: pointer;
    background-color: red;
    border: red;
    box-shadow:0 0 4px rgba(0,0,0,0.5) 
}

.basket__total {
    margin-top: 30px;
    color: #ff9600;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 8px;
}